*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Bai 13a */
.row{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
    height: 50px;
}
.column-1{
    width: 100px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-2{
    width: 200px;
    background-color: lightblue;
}
.item{
    color: white;
    background-color: black;
}
/* Bai 13b */
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-row,.second-row{
    color: white;
    background-color: black;
}
/* Bai 13c */
.container{
    margin:20px 0px 0px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: 350px;
    padding: 0 0 5px 0;
}
.all-inboxes{
    margin: 5px 0 15px 10px;
    font-size: 12px;
    color: gray;
    padding: 10px 0 0 0;
}
.info-container{
    display: flex;
    margin: 0 0 10px 10px;
}
.avatar{
    height: 36px;
 
}
.info-container img{
    margin: 0 0 0 0;
    height: 100%;
    border-radius: 18px;
    cursor: pointer;
}
.info{
    flex: 1;
    margin: 0 10px 0 10px;
    
}
.title{
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.title-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subject{
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.description{
    cursor: pointer;
    font-size: 11px;
    color: gray;
}
.time{
    font-size: 11px;
    color: gray;
}
/* Bai 13f */
.container2{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 10px;
    /* border: 1px solid black; */
    width: 400px;
    padding: 10px;
}
.col-1{
    /* border: 1px solid lightblue; */
}
.col-1 img{
    height: 40px;
    border-radius: 20px;
}
.col-2{
    padding: 0 0 0 10px;
}
.row-1{
    /* border: 1px solid red; */
}
.your-name-hastag{
    display: flex;
    /* border: 1px solid black; */
}
.name{
    font-weight: bold;
}
.hastag{
    color: gray;
    padding: 0 0 0 5px;
}
.your-description{
    /* border: 1px solid black; */
    padding: 5px 0 10px 0;
}
.row-2{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 11px; 
}
.grey-bg{
    background-color: lightgray;
    width: 80px;
}
.youtube-link{
    flex: 1;
    padding: 10px 0 10px 10px;
}
.link{
    color: gray;
    padding:0 0 5px 0;
}